@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lato-Light";
    src: url("./fonts/Lato-Light.ttf") format("truetype");
    font-family: "Lato-Regular";
    src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Lato-Regular";
    font-weight: 300;
    background-image: url("/media/img/3.png");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 70px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    border-style: double;
    margin: 0 10px;
}

button:hover {
    color: #a13d63;
    font-weight: bold;
}

.button-home {
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 20px 60px;
    width: auto;
}

.button-services {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 40px;
    width: auto;
}

.button-contact {
    margin: 40px 0px;
    padding: 10px 20px;
    width: 100%;
}

.intro {
    font-size: 20px;
    font-style: italic;
    color: white;
    padding-top: 170px;
}

.philosophy {
    font-size: 20px;
    font-style: italic;
    color: white;
    padding-top: 80px;
    padding-bottom: 100px;
}

.serviceIntro {
    padding-top: 170px;
}

.serviceHeader {
    font-weight: bold;
}

.welcome {
    font-size: 80px;
}
.navbar-background {
    background-color: #135e8a;
}
input {
    border-color: black;
    border: 1px;
    border-style: solid;
    background-color: lightblue;
    margin-top: 2px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.social-links {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.policy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    bottom: 0%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.reference {
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerLink {
    font-weight: 300;
}

.footerLink:hover {
    text-decoration-line: underline;
}

.serviceItem {
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 200px;
    width: 200px;
    margin: 0 20px;
    padding: auto;
    text-align: center;
}

.aboutProfilePic {
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

.aboutUs {
    border-left: solid;
    border-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 100px;
    padding-right: 25px;
}

.comingSoon {
    font-size: xx-large;
    font-weight: bold;
}

label {
    color: white;
}

.whyUs {
    background-color: rgba(255, 255, 255, 0.9);
}

.whyUs h1 {
    margin-bottom: 0px;
    text-align: center;
}

.allServices {
    font-size: 20px;
    font-style: italic;
    color: white;
    height: 95%;
}

.serviceIntro h1 {
    margin-bottom: 32px;
}
.services {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.card {
    width: 425px;
    background-color: white;
    opacity: 90%;
    margin-top: 50px;
    margin-right: 30px;
    padding: 30px;
}

.serviceImage {
    margin-top: 50px;
    width: 400px;
    height: 400px;
}

.perfectBenefits {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 48px;
}

.allServicesButton {
    width: 300px;
    height: 350px;
    transition: transform 0.2s;
}

.allServicesButton:hover {
    transform: scale(1.2);
}

.benefits {
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1023px) {
    .whyUs p {
        font-size: 20px;
        text-align: center;
    }

    .whyUsSmall {
        padding-bottom: 10px;
    }

    .aboutUs {
        border: none;
        padding-left: 25px;
    }
    .button-home {
        margin-top: 20px;
        margin-bottom: 60px;
        width: 80vw;
    }
    h1 {
        font-size: 28px;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .intro {
        padding-top: 120px;
    }
    .card {
        display: none;
    }
    .serviceImage {
        display: none;
    }
    .perfectBenefits {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0;
        justify-items: center;
    }

    .benefits {
        width: 400px;
    }

    .navbar {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.icon:hover {
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 2s ease-in;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ce96a1;
}

::-webkit-scrollbar-thumb {
    background: #1f475e;
}

::-webkit-scrollbar-thumb:hover {
    background: #a13d63;
}
